{% extends "base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}
  <section id="intro">
    <header>
      <h2><a href="#" class="logo"><img src="{% static 'images/logo-no-bg.png' %}" alt=""></a>Just For Fam</h2>
      {% blocktranslate %}
      <h1>Welcome to the family blog!</h1>
      <p>
        Welcome, dear family members!
        <br><br>
        We are so glad you have found your way to our family blog. This is a place where we can share all sorts of fun, engaging, and family-friendly content that we can enjoy together.
        <br><br>
        On our blog, you will find a wide variety of things to keep you entertained and informed. We have recipes for tasty meals, craft ideas to keep your creative juices flowing, parenting tips for those moments when you need a little guidance, and educational activities to keep your minds sharp. Plus, all of our writers are real parents who know firsthand the ups and downs of raising a family.
        <br><br>
        Stay connected with us to stay up-to-date on the latest family trends, find new ways to bond with your loved ones, and get inspiration for creating lasting memories together. We can't wait to share this journey with you!
      </p>
      {% endblocktranslate %}
    </header>
  </section>
{% endblock %}
