{% extends "base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}
  <section id="intro">
    <header>
      <h2><a href="#" class="logo"><img src="{% static 'images/logo-no-bg.png' %}" alt=""></a>Just For Fam</h2>
      {% blocktranslate %}
      <h1>Welcome to the family</h1>
      <p>
        <br>
        This site was built to take a step back from the influencers, politics, and negativity that dominate social media platforms today.
        <br><br>
        Instead, this platform is meant to focus and take us back to what social platforms the start, the small core group of people you want to surround yourself with.
        <br><br>
        Whether family means blood relatives or your ride-or-die friends, this platform will help keep you connected in a new way.
        <br><br>
        It is still very much a new system, so features are limited, and there are sure to be some bugs, so we want to thank you in advance for your patience!
      </p>
      {% endblocktranslate %}
    </header>
  </section>
{% endblock %}
