{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <article class="post-form">
  <div class="form-container">
  <h1>{% block form_header %}{% endblock %}</h1>
  <form class="form-horizontal"
        enctype="multipart/form-data"
        method="post"
        action={% block form_action %}{% endblock %}>
    {% csrf_token %}

    <!-- Forms -->
    {% block form_content %}{{ form|crispy }}{% endblock %}

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
      </div>
    </div>
  </form>
  </div>
  {% block after_form_content %}{% endblock %}
  </article>
{% endblock content %}
