{% extends "gallery/gallery_base.html" %}
{% load static %}

{% block header %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'gallery/js/infinite_scroll.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

{% endblock %}

{% block gallery_content %}

<div id="image_container">

{% for album in object_list %}
    <a href="{% url 'gallery:album_detail' album.pk album.slug  %}">

        {% if album.display_highlight %}
            {% with album.display_highlight as image %}
                {% include "gallery/partials/thumbnail.html" %}
            {% endwith %}
        {% else %}
            {% include "gallery/partials/thumbnail_empty.html" %}
        {% endif %}

    </a>
{% endfor %}

</div>

{% endblock %}
