{% load static %}

{% block css %}
  {% block header %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery_template.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery_mixin.css' %}">
  <style>
    .image_spacer { margin-right: {{ image_margin }}px; }
  </style>
{% endblock %}

{% block content %}
  {% block bar_detail %}{%  endblock %}

  {% block bar_title %}
    <h1>{{ gallery_title }}</h1>
  {% endblock %}


  <div id="content">
    {% block gallery_content %}{% endblock %}
  </div> <!--content-->
{% endblock %}
