{% load avatar_tags %}
{% load static %}
{% load i18n %}

{% if view.kwargs.house_name %}
  <div>
    <div class="navigation-title">
        <h2>{% translate "Family Members" %}</h2>
    </div>
  </div>
  <hr>
{% endif %}
<br>
<div>
    <h2>{% translate list_title %}</h2>
  <ul>
    <!-- Mini Posts -->
    <section>
      {% for person in rooms_list.0.house.family.all %}

{#        {% url 'posts:posts_list' user.username room.house.name room.name as room_link %}#}


        <div class="mini-posts">

          <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h2><a href="">{{ person.username }}</a></h2>
{#              {% if person.name %}#}
{#                <time class="published">{{ person.name }}</time>#}
{#              {% endif %}#}
            </header>


              <a href="" class="relation">
                {% avatar user 200 class="img-circle img-responsive" id="user_avatar" %}
              </a>
          </article>

        </div>

      {% endfor %}
    </section>
  </ul>
</div>
