{% extends "house/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}
  {{ block.super }}

  {% if request.user.house %}
    {% if houses_list.neighbors.count > 0 %}
      {% include "house/partials/house_list_partial.html" with list_title="My Neighbors" houses_list=houses_list.neighbors %}
    {% endif %}
  {% else %}
    <h2>{% translate "Your Home" %}</h2>
    <a href="{% url 'relations:join_family_request' user.username %}" class="button large">{% translate "Join an Existing Home" %}</a>
    <b>~ OR ~</b>
    <a href="{% url 'house:houses_create' user.username %}" class="button large">{% translate 'Create a New Home' %}</a>
  {% endif %}

{% endblock %}
