{% extends "house/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}
  {{ block.super }}


    {% if houses_list.neighbors.count > 0 %}
      {% include "house/partials/house_list_partial.html" with list_title="My Neighbors" houses_list=houses_list.neighbors %}
    {% endif %}

    <h2>{% translate "Neighbour Request" %}</h2>
    <a href="{% url 'relations:join_neighbour_request' user.username %}" class="button large">
      {% translate "New Request" %}
    </a>

{% endblock %}
