{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Room Details</h1>
  <form class="form-horizontal"
        enctype="multipart/form-data"
        method="post"
        action="{% url 'house:rooms_create' user.username view.kwargs.house_name %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
