
#title {
    padding: 0.9em 0 1em 1em;
    white-space: nowrap;
}

#detail {
    float: right;
    padding-top: 0.8em;
    padding-right: 1.5em;
}

#gallery_content {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3.4em 0 6em 0;
    overflow: scroll;
}

#image_container::-webkit-scrollbar {
  display: none;
}

#gallery_content::-webkit-scrollbar {
  display: none;
}

#album_subheading {
    float: right;
}

a {
    text-decoration: none;
}

h2, h3 {
    margin: 0 0 1em 0;
}

@media only screen and (max-width: 1100px) {

    #detail {
        display: None;
    }

}

@media only screen and (max-width: 800px) {

	#main_container {
	    width: revert;
	}

}
